<section class="border-b border-white/20">
  <div class="mx-auto border-white/20 border-x max-w-7xl">
    <div class="p-8">
      <p class="text-3xl uppercase font-display lg:text-6xl">
        Okay I want in, how do I get started?
      </p>
    </div>
    <div class="p-8 mx-auto text-xs gap-y-12 md:grid-cols-4 sm:grid-cols-2 md:gap-y-0">
      <ol class="list-decimal">
        <li class="text-xl font-display">
          Join the <a href="https://discord.gg/pFvKSmzWpH" class="text-purple-400 duration-200 hover:text-white">Discord</a>
        </li>
        <li class="text-xl font-display">
          Look for the <a href="https://discord.com/channels/847805478763495455/1273314577475698769" class="text-purple-400 duration-200 hover:text-white">#projects channel</a>
        </li>
        <li class="text-xl font-display">Tell us about your project</li>
        <li class="text-xl font-display">One of the mods will get back to you🫡</li>
      </ol>
    </div>
  </div>
</section>
