<section class="border-b border-white/20 ">
  <div class="mx-auto border-white/20 border-x max-w-7xl gradient-grid">
    <div class="p-8 mx-auto max-w-7xl">
      <p class="text-xl uppercase font-display lg:text-6xl">Who are these guys?</p>
    </div>
    <div class="p-8 mx-auto max-w-7xl">
      <p class="uppercase font-display lg:text-3xl">We are a <a href="/webring" class="">network of developers</a> who look for any excuse to work together.
        We have all worked on projects together in the past, and we all spend our spare time tinkering with software.
        Figured we might as get paid for it and build cool stuff for people other than our ourselves.
      </p>
    </div>
  </div>
</section>
