<section class="border-b border-white/20">
    <div class="px-8 mx-auto border-white/20 border-x max-w-7xl">
        <h3 class="pt-8 text-3xl uppercase font-display lg:text-6xl">
            Pricing process
        </h3>
        <p class="">
            If you’d like to engage via a paid project, we like to follow a simple process to kick off.
        </p>

        <ul class="p-8 text-xl list-decimal list-outside font-display">
            <li >Define scope. This can take anywhere from 1 call, to a handful.</li>
            <li>Define budget, timeline, deliverables. Typical range for this step is one day to a week.</li>
            <li>We get to work. Weekly check ins, potentially more.</li>
        </ul>
    </div>
</section>