---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
    <ul class="">
        <li><a href="https://www.bhekani.com/">Bhekani</a></li>
        <li><a href="https://guidefari.com">Guide</a></li>
        <li><a href="https://www.amajola.xyz/">Thanda</a></li>
        <li><a href="https://www.tylerpillay.co.za/">Tyler</a></li>
        <li><a href="https://www.atomikon.dev/">Atomikon Dev</a></li>
    </ul>
</BaseLayout>