---
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro";
---

<html lang="en" class="selection:bg-orange selection:text-white">
  <head>
    <BaseHead />
  </head>
  <body class="pb-10 mx-auto bg-black 2xl:max-w-7xl">
    <Navigation />
    <slot />
  </body>
</html>
